body {

    
    background-color: var(--space-bg);
    color: var(--secondary-accent);
    margin: 0;

    font-family: 'Trebuchet MS', SansSerif;
}


body * {
    text-decoration: none;
    text-shadow: 1px 1px 5px black;
}

#title-backsplash {
    background-image: url("../assets/mars_space.jpg");
    width: 100%;
    height: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#spacer {
    height: 20px;
    background-color: var(--space-bg);
}

#title-screen {
    background-color: var(--secondary-bg-highlight);
    width: 30%;
    padding-bottom: 1em;
    background-color: rgba(43, 29, 43, 0.3);
    margin: auto;
    margin-top: 20em;
    margin-bottom: 10em;
    border-radius: 4em;
}

#title-content {
    opacity: 100%;
}

#sec-pg-content {
    background-image: url("../assets/bg2.png");
    background-repeat: no-repeat;
}

#main-redirects {
    margin: 15em;
}

#main-redirects * {
    text-align: center;
}

header * {
    z-index: 2;
}
body * {
    z-index: 1;
}

.title {
    color: var(--secondary-accent);
    margin-bottom: 0;
}

.subtitle {
    color: var(--primary-accent);
    margin-bottom: 0;
}

.test {
    color: var(--primary-accent);
    padding-bottom: 100em;
}

#trip-planning {
    background-color: var(--space-bg);
    border-color: var(--off-white);
    color: var(--off-white);
    border: 4px;
    border-style: solid;
    border-radius: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom-style: dashed;
}

#information {
    background-color: var(--space-bg);
    border-color: var(--off-white);
    color: var(--off-white);
    border: 4px;
    border-style: solid;
    border-radius: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-bottom-style: dashed;
    border-top-style: dashed;
}

#requirements {
    background-color: var(--space-bg);
    border-color: var(--off-white);
    color: var(--off-white);
    border: 4px;
    border-style: solid;
    border-radius: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    border-top-style: dashed;
}   

#sources {
    padding-top: 5em;
    text-decoration: underline;
}

#sources * {
    color: var(--secondary-accent);
}

.redir-button {
    color: var(--secondary-accent);
    border: 2px;
    border-style: solid;
    border-color: var(--secondary-bg);
    border-radius: 2em;
    padding: 0.4em;
}

.redir-button:hover {
    background-color: var(--secondary-accent);
    color: var(--space-bg);
}