#page-content-info {
    background-color: var(--primary-bg-highlight);
    position: relative;
    min-height: 100vh;
}

#categories {
    margin-top: 7em;
    position: fixed;
    border: 2px;
    border-style: solid;
    border-color: var(--primary-bg-highlight);
    border-right-color: var(--secondary-bg-highlight);
    background-color: var(--primary-bg-highlight);
    width: 150px;
    height: 50em;
}

#buttons {
    list-style-type: none;
    padding-left: 15px;
}

#buttons * {
    width: auto;
    padding: 0.3em;
    padding-right: 4em;
    margin-top: 0.5em;
}

.inner-page {
    margin-top: 5em;
    width: 50%;
}

#home-page {
    width: 45%;
    padding-left: 30%;
    padding-right: 10%;
    padding-top: 15em;
}

#cost-segment {
    margin-top: 12em;
    background-color: var(--secondary-bg-highlight);
    border-radius: 5em;
    padding: 3em;
}

#cost-button {
    border-radius: 10px;
    margin-right: 0.2em;
}

#cost-button:hover {
    background-color: var(--secondary-bg-highlight);
}

#activities-segment {
    margin-top: 12em;
    background-color: var(--secondary-bg-highlight);
    border-radius: 5em;
    padding: 3em;
}

#activities-button {
    border-radius: 10px;
    margin-right: 0.2em;
}

#activities-button:hover {
    background-color: var(--secondary-bg-highlight);
}

#transport-segment {
    margin-top: 12em;
    background-color: var(--secondary-bg-highlight);
    border-radius: 5em;
    padding: 3em;
}

#transport-button {
    border-radius: 10px;
    margin-right: 0.2em;
}

#transport-button:hover {
    background-color: var(--secondary-bg-highlight);
}

#safety-segment {
    margin-top: 12em;
    background-color: var(--secondary-bg-highlight);
    border-radius: 5em;
    padding: 3em;
}

#safety-button {
    border-radius: 10px;
    margin-right: 0.2em;
}

#safety-button:hover {
    background-color: var(--secondary-bg-highlight);
}

#price-block{
    margin-left: 35%;
    margin-right: 15%;
    margin-top: 150px;
    padding: 3em;
    padding-top: 0em;
    border: 2px;
    border-style: solid;
    border-color: var(--secondary-accent);
    border-radius: 10px;
    background-color: var(--secondary-bg);
    width: 50%;
}

#price-block * {
    text-align: center;
}

#cost-tag {
    padding-top: 1em;
}

#activities-tag {
    padding-top: 1em;
}

#transport-tag {
    padding-top: 1em;
}

#safety-tag {
    padding-top: 1em;
}