#plans-body {
    padding-top: 5em;
    margin-left: 4em;
    margin-right: 4em;
    border: 4px;
    border-style: solid;
    border-color: var(--secondary-bg);
    border-top-color: var(--primary-bg);
}

#plans-title {
    padding-top: 5em;
    padding-left: 2em;
}

.dropbtn {
    background-color: #9746c7;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #602b80;} 

#plans-form {
    padding: 1em;
    padding-top: 0.1em;
    background-color: var(--secondary-bg-highlight);
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.2) inset;
    width: 40%
}