#req-page {
    padding: 5em;
    margin: 5em;
}

#req-list * {
    display: inline-block;
    width: 40%;
    text-align: center;
    margin-left: 3em;
    padding: 1em;
    border: 2px;
    border-color: var(--primary-bg);
    background-color: var(--secondary-bg-highlight);
    border-radius: 8px;
}

#req-title {
    text-align: center;
}