#req-page {
    padding: 5em;
    margin: 5em;
}

#req-list-div {
    height: auto;
    width: auto;
    border: 2px;
    border-color: var(--primary-bg);
    background-color: var(--secondary-bg-highlight);
    border-radius: 8px;
    padding: 0px;
}

#req-list-div * {
    display: inline-block;
}


.req-listing {
    flex: 1;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 1em;
}

.spaced {
    width: 10px;
    background-color: var(--secondary-bg);
}

#req-title {
    text-align: center;
}

.ender {
    text-align: center;
}